<img class="profile-photo" src="https://s3.amazonaws.com/tedsblog.herokuapp.com/profile-photo.png"/>

<article style="padding:0 25%;">

  <h1 id="about-header">Ibteda Sabur</h1>

  <a href="https://github.com/Mewtwo2" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/github.png" style="width:5%;"/></a>&emsp;&emsp;
  <a href="https://www.linkedin.com/in/ibteda-sabur/" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/linkedin.png" style="width:5%;"/></a>

  <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. You can do anything here - the only pre-requisite is that it makes you happy. Without washing the brush, I'm gonna go right into
    some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. Didn't you know you had that much power? You can move mountains. You can do anything. You have to make those little noises or it won't work. When things happen - enjoy them.
    They're little gifts.</p>
  <p>I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. If I paint something, I don't want to have to explain what it is. Everyone is going to see things differently - and that's the way
    it should be. And just raise cain. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. A beautiful little sunset.
  </p>
  <p>Exercising the imagination, experimenting with talents, being creative; these things, to me, are truly the windows to your soul. All those little son of a guns. There isn't a rule. You just practice and find out which way works best for you.
    Automatically, all of these beautiful, beautiful things will happen. Now it's beginning to make a little sense.
  </p>
</article>

<a href="https://s3.amazonaws.com/tedsblog.herokuapp.com/IbtedaSabur.pdf" target="_blank" style="margin-left:3%;display:block;text-decoration:none;">
  <span class="button">View Resume</span>
  <sup><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/external.png" style="width:2%;"/></sup>
</a>
