<img class="profile-photo" src="https://s3.amazonaws.com/tedsblog.herokuapp.com/profile-photo.png"/>

<article style="padding:0 25%;">

  <h1 id="about-header">Ibteda Sabur</h1>

  <a href="https://github.com/Mewtwo2" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/github.png" style="width:5%;"/></a>&emsp;&emsp;
  <a href="https://www.linkedin.com/in/ibteda-sabur/" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/linkedin.png" style="width:5%;"/></a>

  <p>Hi, how are you doing? If you don't know me, my name is Ibteda Sabur. I am a web
  developer living in NYC. Growing up in the biggest city in the United States, I was
  exposed to a lot of things; one of them was technology. Technology is everywhere in
  this city. If you go to Times Square, you will be introduced to an abundance of
  billboards and an abundance of tech related advertisements on those billboards.</p>

  <p>Access to these innovations from a young age made me intuitive with them. Since
  I was ten years old, I can remember solving software problems for people around
  me that didn't know how to. Of course, as a ten year old, I was limited to things
  like turning the computer on and off but this small hobby would come to foster a
  great love for learning and technology.</p>
</article>

<a href="https://s3.amazonaws.com/tedsblog.herokuapp.com/IbtedaSabur.pdf" target="_blank" style="margin-left:3%;display:block;text-decoration:none;">
  <span class="button">View Resume</span>
  <sup><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/external.png" style="width:2%;"/></sup>
</a>
