<% provide(:title, "About Me - Ibteda Sabur") %>
<img class="profile-photo" src="https://s3.amazonaws.com/tedsblog.herokuapp.com/profile-photo.png"/>

<article style="padding:0 25%;">

  <h1 id="about-header">Ibteda Sabur</h1>

  <a href="https://github.com/Mewtwo2" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/github.png" style="width:5%;"/></a>&emsp;&emsp;
  <a href="https://www.linkedin.com/in/ibteda-sabur/" target="_blank"><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/linkedin.png" style="width:5%;"/></a>

  <p>Hi, how are you doing? If you don't know me, my name is Ibteda Sabur. If you are not interested in learning about my motivations or if you just want to see my work, that is perfectly fine and you can skip reading the rest of this short biography.
    My Github, LinkedIn, and Resume are all on this page as links for you to view at your discretion.</p>

  <p>I am a web developer living in NYC. Growing up in the biggest city in the United States, I was exposed to a lot of things; one of them was technology. Technology is everywhere in this city. If you go to Times Square, you will be introduced to an
    abundance of billboards and an abundance of tech-related advertisements on those billboards.</p>

  <p>Access to these innovations from a young age made me intuitive with them. Ever since I was very young, I can remember solving software problems for people around me that didn't know how to solve it themselves. Of course, as a ten year old, I was
    limited to things like turning the computer on and off but this exposure to problem-solving would eventually foster a great love for learning and technology.</p>

  <p>Unfortunately, I did not feel this way when I was going to school. Trying to analyze a Shakespeare quote was the worst thing you could've told me to do. Not even because I thought Shakespeare was too boring, the main reason was because I wanted to
    do something more engaging, not to disparage the teachers. It could have been that I was the only kid that didn't like it. Either way, I was searching for something that I loved doing and which I could leverage as a career. Ironically, the fact that
    I loved working with computers and such failed to materialize in my thought process for some reason.</p>

  <p>Eventually, I started picking up coding on a whim just because I wanted to try it and it seemed like a fun thing to do. I ended up loving programming and the critical thinking that came with it. I loved going from a place of "I don't even know how
    I'm going to solve this" to "Wow, I can't believe I did it". At this point I still didn't think about this as a career since developing production applications is completely different than reversing a string. After a week or so into this new
    endeavor, I started thinking about what would happen if I taught myself how to develop full time. Couldn't I theoretically teach myself what I lacked?</p>

  <p>I stumbled on stories of self-taught developers and took the first step on this path. I picked up the book called Head First Java and spent my days and nights reading that book like it was my bible. It took me a few months to read that book end to
    end and actually be able to implement most of what was presented in it, I even built a nice little pocket calculator with my new skills. Regrettably, I had no focus and direction beyond that initial language barrier so for the next few months, I had
    been jumping between several technologies. I was concerned that I was wasting too much time so I decided to enroll in a boot camp.</p>

  <p>Boot camp taught me a lot of things, especially how to have fun with other people while you code. Fast forward to present day, after graduating from boot camp, I am continuing to learn new things and do what I love. If you feel like you would like
    to have a part in the next chapter of my story, feel free to shoot me a message.</p>

</article>

<a href="https://s3.amazonaws.com/tedsblog.herokuapp.com/blogResumeRevised.pdf" target="_blank" style="margin-left:3%;text-decoration:none;">
  <span class="button">View Resume</span>
  <sup><img src="https://s3.amazonaws.com/tedsblog.herokuapp.com/external.png" style="width:2%;"/></sup>
</a>
<br/><br/><br/><br/>
