<h1 id="faq-header">F.A.Q</h1>
<section style="padding:0 25%;">

  <h2 class="faq-question">What is this blog for?</h2>
  <p>The blog's main focus is centered around web development though I may post something unrelated if I feel like it is worthwhile.
  I am also relatively new to the field so this blog is also a platform that lets me reinforce my knowledge while I go through growing pains.</p>

  <h2 class="faq-question">Why should I listen to you?</h2>
  <p>There is an idea that you need to be an expert in order to pass knowledge to others. Do you really need to be an expert to teach basics?
  Why not read some of my posts and find out for yourself? The new developer mindset is familiar to me so maybe my way of presentation will
  resonate with you if you are just starting out.</p>

  <h2 class="faq-question">Do you take requests for your posts?</h2>
  <p>No, sorry I wish I had enough time in the day to sift through requests but at this point in time I do not.
  I might take some in the future.</p>

  <h2 class="faq-question">Do you have a portfolio or github?</h2>
  <p>Yes, they are both on the <a href="/pages/about" style="text-decoration:none;">about me</a> page along with my resume.</p>

  <h2 class="faq-question">What is in store for the future?</h2>
  <p>As far as this blog goes, I have some ideas and am in the process of implementing them but I might not add them if they don't add much value or usefulness.</p>

  <h2 class="faq-question">Where did you get your icons?</h2>
  <p>Since I have to credit the authors for copyright purposes anyway, might as well put it in the FAQ :D. The house, github and external link icons were made by
  <a href="https://www.flaticon.com/authors/freepik" target="_blank" style="text-decoration:none;">Freepik</a>. The LinkedIn icon was made by <a href="https://www.flaticon.com/authors/roundicons" target="_blank" style="text-decoration:none;">Roundicons</a>.
  The about me icon was made by <a href="https://www.flaticon.com/authors/gregor-cresnar" target="_blank" style="text-decoration:none;">Gregor Cresnar</a>. The FAQ icon was made by <a href="https://www.flaticon.com/authors/kirill-kazachek" target="_blank" style="text-decoration:none;">Kirill Kazachek</a>.</p>

</section>
