/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --light-pink: #f9cff2;
  --purple: #1b065e;
  --onyx:#37323e;
  --silver:#bfbdc1;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#navbar {
  float: left;
  position: fixed;
  padding: 1%;
  height: 100vh;
  width: 13vw;
  background-color: var(--purple);
}

#navbar a {
  color: white;
  font-size: 150%;
  text-decoration: none;
}

#navbar a:hover {
  color: var(--light-pink);
}

main {
  margin-left: 16vw;
  margin-right: 1vw;
}

.button{
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--onyx);
  color:var(--silver) !important;
  padding:1%;
  border-radius: 6px;
}
