/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --pink:#ff47da;
  --light-pink: #f9cff2;
  --purple: #1b065e;
  --onyx:#37323e;
  --silver:#bfbdc1;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

input[type=email], input[type=password]{
  border:3px solid var(--purple);
  padding: .5%;
  border-radius: 6px;
  transition-property: border;
  transition-duration: .8s;
}

input[type=email]:focus, input[type=password]:focus{
  border:3px solid var(--pink);
}

#navbar {
  float: left;
  position: fixed;
  padding: 1%;
  height: 100vh;
  width: 13vw;
  background-color: var(--purple);
}

#navbar a {
  color: white;
  font-size: 150%;
  text-decoration: none;
}

#navbar a:hover {
  color: var(--light-pink);
}

main {
  text-align: center;
  margin-left: 16vw;
  margin-right: 1vw;
}

.button{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--purple);
  border:none;
  cursor: pointer;
  color:white !important;
  padding:1%;
  border-radius: 6px;
  transition-property: font-size color;
  transition-duration: .5s;
}

.button:hover{
  font-size: 120%;
}

p{
  color:#37323e;
}
